# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
orig_packages

# Optional npm cache directory
.npm


# Untrack these
*.DS_Store
25/*
assets/*
conversion-wars/*
hackwithus2017/*
