
* {
	padding:0;
	margin:0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
   /* padding: 10px;
    background-color: #afcffe;
    background:-webkit-linear-gradient(#afcffe 400px, FloralWhite 1300px);
    background:-moz-linear-gradient(#afcffe 400px, FloralWhite 1300px);
    background:linear-gradient(#afcffe 400px, FloralWhite 1300px);*/
    font-family: Lato, sans-serif;
    color:#333;

		background: url(../img/Desktop.png) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;

	/*-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	*/
}

/******* Base stuff for everything *******/

p, ol, ul {
	/*font-size:18px;*/
	line-height: 23px;
}

ol, ul {
	padding:10px 40px;
}

li {
	margin-bottom:5px;
}

p {
	padding:5px 10px;
}

a:link, a:visited {
	color:#333;
	text-decoration:none;
	font-weight:bold;
	border-style:none;
}

a:hover {
	color:#EDF35A;
}

img { border-style:none; }

h1,h2,h3,h4,h5,h6 {
	text-align:center;
	/*color:maroon;*/
}

#board div h3 {
	color:maroon;
}

h1 {
  margin-top:	10px;
	margin-bottom:	10px;
    /*color:white;*/
	font-size:2vw;
	/*text-shadow: #444 1px 1px 2px; */
	font-family: 'Lato';
}


h2 {
	font-size:28px;
	margin:0 0 10px 0;
}

h3 {
	font-size:22px;
	margin:25px auto 10px auto;
}

.game-thumbnail {
	display:inline-block;
	margin:10px;
	height:127px;
	border:solid 2px white;
	border-radius:5px;
}

#wrapper {
	/*width:1050px;*/
	margin:0px auto;
}

#board {
	/*background-color:#98AEE5;
	border:solid 3px white;
	border-radius:30px;
	color:white;*/
	padding:10px;
	margin-bottom:10px;
	/*box-shadow:black 0 0 5px;*/
}

#board h3 {
	color:white;
}

#board a, #board a:visited {
	color:yellow;
}

#board a:hover, #board a:active {
	color:orange !important;
}

#play-page {
    position: relative;
	height:625px;

}
/*
#promo-links {
	text-align:left;
	font-weight:bold;
	font-size:13px;
	margin-bottom:5px;
	margin:auto;
	width:1050px;
}*/
/**** Classes ****/


.dialog {
	color:#333;
	background-color:#EDF35A;

	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	border-radius:5px;
	box-shadow:#222 0 0 5px;
}

#board .dialog h3 {
	color:maroon;
	text-shadow:none;
}
.error {
	color:red;
	font-weight:bold;
}

.newest-game {
	color:yellow !important;
	display:inline-block;
	transform:rotate(-4deg);
	font-family:Verdana, Arial;
	text-shadow:
   -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
     1px 1px 0 red;
}

.newest-game:hover {
	color:black !important;
	text-shadow:none;
}

/**** Master page ****/

#page {
    width: 800px;
	margin: auto;
	/*float:left;*/
}

#menucontainer {
	margin-bottom:15px;
	margin-top:-10px;
}

#menu {
	padding:2px;
    position: relative;
    margin: auto;
	text-align:center;
}

#menu li {
    display: inline;
    list-style: none;
	font-size:18px;
}

/*.ad label {
	display:block;
	width:160px;
	text-align:center;
	height:20px;
	padding:0px;
	width:100%;
	font-size:12px;
}*/

#ad-right {
	width: 160px;
	height: 620px;
	float:left;
	margin-left:160px;
	margin-top:100px;
}

#about {
	margin-bottom:120px;
}

#version-info, #privacy {
    text-align: center;
    margin: auto;
    font-size: 12px;
}


.avatar {
	position:absolute;
}

.avatar small{
	position:relative;
	display:block;
	text-align:center;
	margin-top:5px;
}

.avatar div{
	border:solid 0px white;
	cursor:pointer;
	width:50px;
	height:50px;
	background-image:url(../img/players2.png);
}

.bubble {
	position:absolute;
	width:130px;
	height:97px;
	display:none;
	z-index:5000;
}

.bubble p {
    color:black;
    text-align:center;
    font-size:16px;
    margin-top: 9px;
    margin-left: 20px;
    padding: 0px !important;
    width: 85px;
    height: 45px;
    line-height: 45px;
    display: block;
    font-size: 11px;
}

.bubble p span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 11px;
}

#top-player-bubble p { margin-top:34px;}
#left-player-bubble { background-image:url(../img/speechleft.png); top:180px; left:0px;}
#right-player-bubble { background-image:url(../img/speechright.png); top:180px; right:0px;}
#top-player-bubble { background-image:url(../img/speechtop.png); top:25px; left:200px;}
#bottom-player-bubble { background-image:url(../img/speechleft.png); bottom:40px; left:370px; }

.dealer {
	background:white;
	color:black;
	border:solid 1px #222;
	font-weight: bold;
	border-radius:12px;

}

.player-thumb {
	background-image:url(../img/players2.png);
	width:20px;
	height:20px;
	display:inline-block;
}

#left-player {
	top:250px;
	right:830px;
	display:none;
}

#left-player div {
	background-position:-50px 0px;
}

#right-player {
	top:250px;
	left:800px;
	display:none;
}

#right-player div {
	background-position:-150px 0px;
}

#top-player {
	top:2px;
	left:42%;
}

#top-player div {
	background-position:-100px 0px;
}

#bottom-player {
	bottom:2px;
	left:45%;
}


#bottom-player div {
	background-position:0px 0px;
}

#player-count {
	position:absolute;
	width:166px;
	left:362px;
	top:310px;
}

#release-notes ul li ul {
	padding-left:30px;
	font-size:12px;
}
#result-box {
	display:none;
	text-align:center;
	width:330px;
}

#results-div {
	width:100%;
	position:absolute;
	bottom:200px;
}

.results {
	width:400px;
	margin:auto;
	display:none;
}

.results h3 { padding:10px; font-size:18px; margin:0px;}
.results p img { float:right; margin-left:5px; }

.button-panel {
	clear:both;
	text-align:center;
	padding:10px;
	height:30px;
}

#change-player {
	width: 300px;
	position:absolute;
	left:200px;
	top:150px;
	z-index:50000;
	display:none;
}
#change-player h3 {
	margin:8px 0px;

}
#player-picker {
	/*background-image: url(players-large.png);*/
	width:120px;
	height:120px;
	margin:10px auto;
}

#open-player-picker {
	position:absolute;
	bottom:78px;
	font-size:12px;
	left:280px;
	font-weight:normal;
}

#next-image, #prev-image {
	width:70px;
}
#save-image {
	width:100px;
}

#messageBox {
	position:absolute;
	width:100%;
	top:365px;
	left:0px;
	padding:0px;
}

#messageBox p {
	width:50%;
	/*height:35px;
	font-size:12px;*/
	line-height: 16px;
	margin:0px auto;
	padding: 3px 6px;
	color:#000000;
	background-color:#FAFC9F;
	border-radius:4px;
	text-shadow:none;
}


#authorpic {
	float:left;
	padding:10px 10px 0px 10px;
}

#authorpic img {
	border:solid 1px white;
}


.winner-img {
	width:120px;
	height:120px;
	/*background-image:url(players-large.png);*/
	display:none;
}

#options-page small {
    display:block;
    text-align:center;
}

#menu li a.selected {
    text-decoration:underline;
}


.playlink {
	display:block;
	text-align:center;
}

#options-page {
	width:360px;
	position:absolute;
	background:#EDF35A;
	top:130px;
	left:175px;
	z-index:10000;
	border-radius:5px;
	box-shadow: black 0 0 5px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	color:black;
	display:none;
}

#options-page button {
	width:100px;
	height:30px;
	display:block;
	margin:auto;
	margin-top:10px;
	margin-bottom:15px;
}

#options-page h2 {
	color:maroon;
	font-size:24px;
	padding-top:8px;
}

#options-page p {
    margin-left:50px;
}

/* Hacked buttons, css3 button generator.com */
.btn {
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-size: 20px;
  background: #D1D2F7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  /*background-color: #000000;
/*  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db); */
	text-color: white;
  text-decoration: none;
}


button {
	color:#333 !important;
	font-family: Arial, sans-serif;
	font-weight:normal !important;
	font-size:14px;
	padding:3px 9px;
	/*border-radius:4px;*/
	border:solid 1px #555 !important;
	/* border-bottom:solid 2px #555 !important; */
	background:#ddd;
	background: linear-gradient(to bottom, #fff, #ddd);
	background: -webkit-linear-gradient(top, #fff, #ddd);
	background: -moz-linear-gradient(top, #fff, #ddd);
	-webkit-touch-callout: none;
	outline:none;
}

button.big {
	font-size: 1vw;
	font-weight:bold;
	padding:7px 12px;
	/*width: 170px;*/
}

button.small {
	font-size:11px;
	padding:3px 5px;
}

button:hover {
	-webkit-touch-callout: none;
	outline:none;
	cursor:pointer;
	color:#222 !important;
	background: linear-gradient(to bottom, #ddd, #fff);
	background: -webkit-linear-gradient(top, #ddd, #fff);
	background: -moz-linear-gradient(top, #ddd, #fff);
}

button:disabled {
	background:#ddd;
	opacity:0.5;
	cursor:auto;
}

button:active {
	-webkit-touch-callout: none;
	outline:none;
	border-bottom:solid 1px #555 !important;
	position:relative;
	top:1px;
	background:#ddd;
}

.result-table {
	padding:1px;
	background-color:white;
	margin:5px 10px;
	border-radius:3px;
	border:solid 2px #333;
	font-family:Arial, sans-serif;
}

.result-table table {
	border-collapse:collapse;
	border:solid 1px black;
	width:100%;
}

.result-table .totals {
	font-weight:bold;
}

.result-table table td, .result-table table th {
	text-align:right;
	border:solid 1px black;
	padding:2px;
	white-space:nowrap;
}

.result-table table th {
	font-weight: bold;
	text-align:center;
}

.result-table .thick-bottom {
	border-bottom:solid 2px black;
}

.result-table .thick-top {
	border-top:solid 2px black;
}




/* Player statistics */

.player-stats {
	margin:20px auto;
	background:white;
	width:508px;
	padding:0px;
	border:solid 2px white;
	border-radius:3px;
	color:black;
	position:relative;
}

.two-column-stats {
	margin:auto;
	width:398px;
	background:white;
	border:solid 2px white;
	border-radius:3px;
	position:relative;
}

.two-column-stats table {
	border:solid 2px black;
	width:398px !important;
}

.stats-column-1 {
	width:130px;
	float:left;
}

.stats-column-1 .name {
	text-align:center;
	font-size:28px;
}

.stats-column-2 {
	float:left;
}

.stats-wrapper {
	border:solid 2px #222;
}
.stats-table {
	border-style:none;
	border-left:solid 2px #222;
	border-collapse: collapse;
	color:black;
	width:374px;
}

.stats-table td, .stats-table th {
	padding:3px;
	font-size:16px;
	border-style:none;
}

.stats-table h4 {
	padding:3px;
	font-size:19px;
}

.stats-table tr {
	border-top:solid 1px #222;
}

.stats-table tr.first-row {
	border-top-style:none;
}

.stats-table tr td {
	text-align: right;
}

.stats-table tr th {
	text-align: left;
	border-right:solid 1px #222;
}

.stats-table tr td {
}

.stats-table tr:nth-child(odd) {
	background-color: #f1f1f1;
}

.stats h2 {
	color:white;
	font-family:Verdana, Arial, sans-serif;
	text-shadow:black 1px 1px green;
	margin-top:30px;
}

.drivers-license {
	/*background-image:url(players-large.png);*/
	width:120px;
	height:120px;
	margin:10px auto 6px auto;
}

#stats-disclaimer {
	font-size:14px;
	width:500px;
	margin:5px auto 30px auto;
}

.clear-stats {
	width:180px;
	height:40px;
	display:block;
	margin:20px auto;
	font-size:20px;
}

#stats-template, #solitaire-template {
	display:none;
}

.js-variablePlayerCount {
	display:none;
}

.stats-link {
	display:none;
}

/* Effects */

.spin {
	transition:1s ease-in;
	transform:rotate(360deg);
}


/**** /play ****/

.card {
    width:71px;
    height:96px;
    background-image:url(../img/cards.png);
    position:absolute;
    cursor:pointer;
}

.verticalTrick {
	position:absolute;
	width:33px;
	height:45px;
	background:url(../img/vertical-trick.png);
}

.horizontalTrick {
	position:absolute;
	width:45px;
	height:33px;
	background:url(../img/horizontal-trick.png);
}

#dealer-chip {
	position:absolute;
	display:inline-block;
	width:40px;
	border-radius:45%;
	padding:3px;
	border:solid 1px black;
	background-color:white;
	box-shadow:red 0 0 1px;
	color:black;
	font-size:9px;
	text-align:center;
	font-weight:bold;
	font-family:Arial, sans-serif;
}

#bottom-player #dealer-chip {
	left: 0px;
	top: 67px;
}

#top-player #dealer-chip {
	right: 60px;
	top: 20px;
}

#left-player #dealer-chip {
	left: 4px;
	top: 70px;
}

#right-player #dealer-chip {
	left: 0px;
	bottom: 70px;
}



#deal {
	position:absolute;
	width:170px;
	padding-left: 30px;
	left:360px;
	top:260px;
}

#sortHand {
	position:absolute;
	left:385px;
	bottom: 40px;
	display:none;
}

.featured {
	color: orange !important;
	text-shadow:black 0px 0px 1px;
	font-size:16px;
}


.bubble div { position:absolute; top:18px; left:27px; /*background-image:url(../img/players2.png);*/ width:1px; height:1px;}
.bubble img { position:absolute; top:15px; left:45px; }
.bubble p { font-weight: bold;padding-left: 25px;text-align: left;margin-left: 41px; margin-top: 11px;}
.bubble p span { font-size: 22px; }
#top-player-bubble p { margin-top: 38px !important;}
#top-player-bubble div,#top-player-bubble img {top:45px;}


#fish-button {
	/*color:black;
	font-size:13px;
	font-family:Arial, sans-serif;
	font-weight:bold;*/
	position:absolute;
	left:440px;
	bottom:0px;
/*	width:80px;
	height:35px; */
	/*line-height:30px;
	padding-left:6px;
	padding-top:4px; */
	cursor:pointer;
	/*background: #EDF35A;
	border-radius: 5px;
	text-align:center;
	display:none;*/
}

#askdiv {
	width:400px;
	text-align:center;
	padding-bottom:10px;
	position:absolute;
	left:150px;
	top:230px;
	background-color:#FAFC9F;
	color:black;
	text-shadow:white 0 0 1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	display:none;
}

#askdiv p {
	text-align:center;
}
#askdiv span {
	margin:auto;
	display:inline-block;
	background-color:white;
	border:solid 1px black;
	border-radius:4px;
	color:black;
	/*width:22px;*/
	font-family:Arial, sans-serif;
	height:27px;
	font-size:21px;
	padding:0px;
	padding-right:2px;
	padding-top:2px;
	text-align:center;
	cursor:pointer;
}

#askdiv span:hover {
	color:red;
	font-weight:bold;
}
